SUPABASE_KEY=entra a tu proyecto de supabase > project settings en la barra lateral > API > copia y pega el project api key con el tag " secret "
JWT_SECRET=entra a tu proyecto de supabase > project settings en la barra lateral > API > copia y pega el JWT SECRET de la sección JWT Settings